.container {
  margin-top: 150px;
  background-color: aqua;
  padding: 0%;
}
.inputTag {
  height: 40px;
  width: 450px;
  padding: 10px;
  /*font-size: 15px;*/
  margin: 0%;
}
.buttonTag {
  height: 40px;
  width: 100px;
  margin: 0%;
}
